<header role="banner">
  <div class="top-bar" data-module="fixed-header">
    <nav class="top-bar-left" role="navigation">
      <ul class="menu mobile">
        <li>{{> logo}}</li>
        <li>{{> menu-button}}</li>
      </ul>

      {{> menu items=nav.primary primary=true classes="colorline"}}
    </nav>

		<div class="top-bar-right">
      <ul class="menu">
        <li>
          <a class="button clear" href="tel:{{client.tel}}">{{client.phone}}</a>
          <a class="button circle" href="tel:{{client.tel}}"></a>
        </li>

        <li>
          <a class="button circle" href="mailto:{{client.mail}}"></a>
        </li>
      </ul>
		</div>
	</div>
</header>