<form action="#">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="medium-6 cell">
	      <label>
	        Name
	        <input type="text" name="name" placeholder="Name">
	      </label>
	    </div>

	    <div class="medium-6 cell">
	      <label>
	        E-Mail Adresse
	        <input type="email" name="email" placeholder="lorem@ipsum.de">
	      </label>
	    </div>
	  </div>

	  <label>
			Nachricht
			<textarea name="message"></textarea>
		</label>

	  <button class="button" type="submit">Absenden</button>
	</div>
</form>