<div class="timeline-block">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="small-4 medium-2 {{#if even}}large-order-1{{else}}large-offset-5{{/if}} cell">
        <div class="timeline-block-circle">
          <p>
            {{from}} -<br>
            {{to}}
          </p>
        </div>
      </div>

      <div class="small-8 medium-10 large-5 cell">
        <h5>{{company}}</h5>
        <h4>{{job}}</h4>
        <p>{{text}}</p>
      </div>
    </div>
  </div>
</div>